.aside {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: calc((100% - 320px) / 2);
  padding-right: calc((100% - 320px) / 2);
}

@media (min-width: 480px) {
  .aside {
    padding-left: calc((100% - 380px) / 2);
    padding-right: calc((100% - 380px) / 2);
  }
}
@media (min-width: 768px) {
  .aside {
    padding-left: calc((100% - 210px) / 2);
    padding-right: calc((100% - 210px) / 2);
  }
}
@media (min-width: 992px) {
  .aside {
    padding-left: calc((100% - 256px) / 2);
    padding-right: calc((100% - 256px) / 2);
    /* we need to set the right padding separately after a point - when it goes to two columns */
  }
}
@media (min-width: 1280px) {
}
/* @media (min-width: 1536px) {
  
} */
