.mdx_heading:hover::before {
  content: '#';
  position: relative;
  /* adjust based on font width */
  margin-left: -1.6ch;
  padding-right: 0.2ch;
  /* *** */
  display: inline;
  color: #505363;
  /* font-size: 70%; */
}
